<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project Prometheus</title>

    <meta charset="UTF-8">
    <!-- ================Bootstrap=============================================-->
    <!--mobile responsiveness-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!--==================Google Fonts==========================================-->
    <!--link to google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">

    <!--====================Our css file=========================================-->
    <!-- link to my styles.css file-->
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title">
    <!--jquery-->

    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
        <!-- Moment.js Reference -->
    <!-- <script src="http://momentjs.com/downloads/moment.js"></script>   -->
    <script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
    

</head>
    <body>
        {{{ body }}}


    <script src="content/js/jquery.min.js"></script>
    <script src="content/js/bootstrap.min.js"></script>

<!-- Custom Script -->
    <script src="js/views.js" type="text/javascript"></script>
    </body>
</html>