<a href="/">Back to Home Page</a>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Search by City</strong></h3>
                </div>
                <div class="panel-body">
                    <input type="text" id="city-search" class="form-control">
                    <br>
                    <div class="text-right">
                        <button class="btn btn-primary btn-md" id="city-search-btn"><span class="glyphicon glyphicon-search"></span> Engage</button>
                    </div>
                </div>
            </div>

            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Sighting Search Results</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="well" id="stats" hidden="true">
                        <h2 id="Sighting"></h2>
                        <div class="text-primary">
                            <h3><strong>Date:</strong> <span id="date"></span></h3>
                            <h3><strong>City:</strong> <span id="city"></span></h3>
                            <h3><strong>State:</strong> <span id="state"></span></h3>
                            <h3><strong>Shape:</strong> <span id="shape"></span></h3>
                            <h3><strong>Duration:</strong> <span id="duration"></span></h3>
                            <h3><strong>Summary:</strong> <span id="summary"></span></h3>
                        </div>
                    </div>
                </div>
            </div>